
datasets/lifesat/gdp_per_capita.csv
datasets/lifesat/lifesat.csv
datasets/lifesat/lifesat_full.csv
datasets/lifesat/oecd_bli.csv
images/fundamentals/best_fit_model_plot.png
images/fundamentals/money_happy_scatterplot.png
images/fundamentals/overfitting_model_plot.png
images/fundamentals/representative_training_data_scatterplot.png
images/fundamentals/ridge_model_plot.png
images/fundamentals/tweaking_model_params_plot.png
.ipynb_checkpoints/01_the_machine_learning_landscape-checkpoint.ipynb
.ipynb_checkpoints/02_end_to_end_machine_learning_project-checkpoint.ipynb
datasets/housing.tgz
datasets/housing/housing.csv
images/end_to_end_project/age_similarity_plot.png
images/end_to_end_project/attribute_histogram_plots.png
images/end_to_end_project/bad_visualization_plot.png
images/end_to_end_project/better_visualization_plot.png
images/end_to_end_project/california.png
images/end_to_end_project/california_housing_prices_plot.png
images/end_to_end_project/district_cluster_plot.png
images/end_to_end_project/housing_income_cat_bar_plot.png
images/end_to_end_project/housing_prices_scatterplot.png
images/end_to_end_project/income_vs_house_value_scatterplot.png
images/end_to_end_project/long_tail_plot.png
images/end_to_end_project/scatter_matrix_plot.png
my_california_housing_model.pkl
01_the_machine_learning_landscape.ipynb
02_end_to_end_machine_learning_project.ipynb
